@font-face {
    font-family: 'Frutiger LT Std';
    src: url('FrutigerLTStd-Black.eot');
    src: url('FrutigerLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('FrutigerLTStd-Black.woff2') format('woff2'),
        url('FrutigerLTStd-Black.woff') format('woff'),
        url('FrutigerLTStd-Black.ttf') format('truetype'),
        url('FrutigerLTStd-Black.svg#FrutigerLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

